@using RestaurantManagement.Models
@section CustomCss{
<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="/css/reservation.css" />
<link type="text/css" rel="stylesheet" href="/css/owl.carousel.css" />
<link type="text/css" rel="stylesheet" href="/css/owl.theme.default.css" />
}
@model ListBookInfoViewModel
<div id="reservation" class="section">
  <!-- Backgound Image -->
  <div
    class="bg-image"
    style="background-image: url(/images/background03.jpg)"
  ></div>
  <!-- /Backgound Image -->

  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- reservation form -->
      <div class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <form class="reserve-form row" asp-controller="Reservation" asp-action="BookTable">
          <div class="section-header text-center">
            <h4 class="sub-title">Reservation</h4>
            <h2 class="title white-text">Book Your Table</h2>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="date">Ngày:</label>
              <input class="input set-today" type="date"
               placeholder="dd/mm/yyyy" id="dateOrder"
               value=""
               name="booktableinfo.orderDate"
               required=""
               min=""
               required
               />
            </div>
            <div class="form-group">
              <label for="time">Từ:</label>
              <input
                class="input"
                type="time"
                placeholder="hh:mm"
                id="time"
                min=""
                value=""
                name="booktableinfo.From"
                required=""
                min="08:00" max="23:30"
              />
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="number">Số lượng khách:</label>
                  <select class="input khach" id="number" name="booktableinfo.People" required>
                      <option value="" selected disabled hidden>Chọn số lượng khách</option>
                      <option value="1" >1 người</option>
                      <option value="2" >2 người</option>
                      <option value="3" >3 người</option>
                      <option value="4" >4 người</option>
                      <option value="5" >5 người</option>
                      <option value="6" >6 người</option>
                      <option value="7" >7 người</option>
                      <option value="8" >8 người</option>
                      <option value="9" >9 người</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="time">Đến:</label>
                  <input class="input"
                         type="time"
                         placeholder="hh:mm"
                         id="time1"
                         min="" 
                         name="booktableinfo.To"
                         required
                  />
                  <span class="validity"></span>
              </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="main-button" type="submit" name="booktableinfo.Type" value="search">Tìm kiếm</button>
          </div>
        </form>
      </div>
      <!-- /reservation form -->

      <!-- opening time -->
      <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
        <div class="opening-time row">
          <div class="section-header text-center">
            <h2 class="title white-text">Thời gian mở cửa</h2>
          </div>
          <ul>
            <li>
              <h4 class="day">Thứ 2</h4>
              <h4 class="hours">8:00 am – 11:30 pm</h4>
            </li>
            <li>
              <h4 class="day">Thứ 3</h4>
              <h4 class="hours">8:00 am – 11:30 pm</h4>
            </li>
            <li>
              <h4 class="day">Thứ 4</h4>
              <h4 class="hours">8:00 am – 11:30 pm</h4>
            </li>
            <li>
              <h4 class="day">Thứ 5</h4>
              <h4 class="hours">8:00 am – 11:30 pm</h4>
            </li>
            <li>
              <h4 class="day">Thứ 6</h4>
              <h4 class="hours">8:00 am – 11:30 pm</h4>
            </li>
            <li>
              <h4 class="day">Thứ bảy</h4>
              <h4 class="hours">8:00 am – 11:30 pm</h4>
            </li>
            <li>
              <h4 class="day">Chủ nhật</h4>
              <h4 class="hours">8:00 am – 11:30 pm</h4>
            </li>
          </ul>
        </div>
      </div>
      <!-- /opening time -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!--reservation-->
<div class="wrapper container">
  <div class="row">
    <div class="col-xs-12">
      <div style="font-weight: 700; font-size: 26px;" class="caption">Các bàn trống</div>
      <div class="table-responsive" >
        <table class="table table-hover" width="300px">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên bàn</th>
                    <th>Số lượng khách</th>
                    <th>Từ</th>
                    <th>Đến</th>
                    <th>Trạng thái</th>
                    <th>Đặt bàn</th>
                </tr>
            </thead>
            <tbody>
            @{
                            int i = 1;
                            if (Model.listtable != null)
                            {
                                if(Model.listtable.Count>0)
                                foreach (var Data in Model.listtable)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@Data.Name</td>
                                        <td>@Data.People người</td>
                                        <td>@Data.From.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@Data.To.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>Trống</td>
                                        <td>
                                            <form asp-controller="Reservation" asp-action="BookTable" method="post" onsubmit="return confirm('Xác nhận đặt bàn!!!');">
                                                <input type="hidden" value="@Data.TableId" name="booktableinfo.TableId" />
                                                <input type="hidden" value="@Data.From" name="booktableinfo.From" />
                                                <input type="hidden" value="@Data.To" name="booktableinfo.To" />
                                                <button class="button" type="submit" value="book" name="booktableinfo.Type" >Đặt bàn</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                <tr>
                                    <td colspan="7" class="text-center">Không có bàn trống</td>
                                </tr>
                                } 
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center">Không có bàn trống</td>
                                </tr>
                            } 
                        }
            </tbody>
        </table>
      </div>
      <!--end of .table-responsive-->
    </div>
  </div>
</div>
<script type="text/javascript">
  var d1 = new Date();
  var y1 = d1.getFullYear();
  var m1 = d1.getMonth() + 1;
  if (m1 < 10) m1 = "0" + m1;
  var dt1 = d1.getDate();
  if (dt1 < 10) dt1 = "0" + dt1;
  var d2 = y1 + "-" + m1 + "-" + dt1;
  document.getElementById("dateOrder").min = d2;
  document.getElementById("time").min="08:00";
  document.getElementById("time").max="23:30";
  document.getElementById("time1").min=document.getElementById("time").value;
  document.getElementById("time1").max="23:30";
  function get_content()
  {
    alert("Đặt bàn thành công" );        
  }
</script>
