
@{
    ViewData["Title"] = "MenuFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<FoodViewModel>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Categories</h3>
                    <div class="checkbox-filter">

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-1">
                            <label for="category-1">
                                <span></span>
                                Món Khai vị
                                <small>(120)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-2">
                            <label for="category-2">
                                <span></span>
                                Món ăn chính
                                <small>(740)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-3">
                            <label for="category-3">
                                <span></span>
                                Món tráng miệng
                                <small>(1450)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-4">
                            <label for="category-4">
                                <span></span>
                                Rượu
                                <small>(578)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-5">
                            <label for="category-5">
                                <span></span>
                                Bia
                                <small>(120)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-6">
                            <label for="category-6">
                                <span></span>
                                Nước ngọt
                                <small>(740)</small>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store products -->
                <div class="row">
                    @foreach (var food in Model)
                    {
                        <!-- product -->
                        <form asp-action="InsertFoodToCart" asp-controller="Menu" method="post">
                            <input type="hidden" name="food.insertFoodViewModel.FoodId" value="@food.Id" />
                            <input type="hidden" name="food.insertFoodViewModel.Quantity" value=1 />
                            <input type="hidden" name="food.insertFoodViewModel.Price" value="@food.UnitPrice" />
                            <input type="hidden" name="food.insertFoodViewModel.UnitPrice" value="@food.UnitPrice" />
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="@food.ImageURL" alt="">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@food.Category</p>
                                        <h3 class="product-name"><a href="@Url.Action("Details",new { id=food.Id })">@food.Name</a></h3>
                                        <h4 class="product-price">@food.UnitPrice VND</h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="quick-view">
                                                <i class="fa fa-eye"></i><span class="tooltipp">
                                                    quick view
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn" type="submit">
                                            <i class="fa fa-shopping-cart"></i> add to
                                            cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /product -->
                    }
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Showing 20-100 products</span>
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>