
@{
    ViewData["Title"] = "PaymentDetailHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] PaymentHeader = new string[] { "STT", "Tên món ăn", "Giá (VNĐ)", "Số Lượng", "Tổng (VNĐ)" };
}
@model List<PaymentDetailViewModel>
@{
    var BillId = default(Guid);
    if (Model.Count > 0)
    {
        BillId = Model.FirstOrDefault().BillId;
    }
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <!-- store products -->
            <div>
                <h2>Lịch sử thanh toán</h2>
                <table class="table table-borderless table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            @{
                                foreach (var head in PaymentHeader)
                                {
                                    <th class="text-center">
                                        @head
                                    </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            if (Model.Count > 0)
                            {
                                foreach (var Data in Model)
                                {
                                    <tr>
                                        <td class="text-center">@(i++)</td>
                                        <td class="text-center">@Data.FoodName</td>
                                        <td class="text-center">@Data.UnitPrice</td>
                                        <td class="text-center">@Data.Quantity</td>
                                        <td class="text-center">@Data.Price</td>
                                    </tr>
                                }
                                <tr class="text-left" style="font-size:15px">
                                    <td colspan="4">
                                        <b>
                                            Tổng tiền:
                                        </b>
                                    </td>
                                    <td class="text-center">
                                        <b>
                                            @Model.First().Total VNĐ
                                        </b>
                                    </td>
                                </tr>
                                <tr class="text-left" style="font-size:15px">
                                    <td colspan="4">
                                        <b>
                                            Thuế VAT:
                                        </b>
                                    </td>
                                    <td class="text-center">
                                        <b>
                                            @(Model.First().Total / 10) VNĐ
                                        </b>
                                    </td>
                                </tr>
                                <tr class="text-left" style="font-size:15px">
                                    <td colspan="4">
                                        <b>
                                            Số tiền phải thanh toán:
                                        </b>
                                    </td>
                                    <td class="text-center">
                                        <b>
                                            @(Model.First().Total / 10 * 11) VNĐ
                                        </b>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">Bạn chưa thanh toán lần nào!!</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /STORE -->
        <!-- /row -->
    </div>
    <!-- /container -->
</div>