
@{
    ViewData["Title"] = "Lịch sử đặt bàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] TableHeader = new string[] {"STT","Tên bàn", "Số người", "Bắt đầu", "Kết thúc"};
}
@model List<TableHistoryViewModel>

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <!-- store products -->
            <div>
                <h2>Lịch sử đặt bàn</h2>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark th">
                        <tr>
                            @{
                                foreach (var head in TableHeader)
                                {
                                    <th>
                                        @head
                                    </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            if (Model.Count > 0)
                                foreach (var Data in Model)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@Data.TableName</td>
                                        <td>@Data.PeopleCount</td>
                                        <td>@Data.From.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@Data.To.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                                    </tr>
                                }
                            else
                            {
                                <tr><td colspan="5" class="text-center">Bạn chưa từng đặt bàn</td></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /STORE -->
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

